<div class="collabsible collapsible--expanded">
  <header class="collapsible__header">
    <h2>Item 1</h2>
    <span class="icon-container">
      <svg class="icon icon--chevron collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
    consequuntur modi dolorum. Ea voluptatem consectetur dolores fugiat facilis
    laudantium asperiores dignissimos aliquid delectus, vero corporis. Vitae
    exercitationem debitis fugit dolorem quidem et aperiam deleniti aut illo
    suscipit cum quod magni quae est enim voluptatem repellendus, dolor
    quibusdam atque mollitia quasi. Molestiae, vel repellat voluptates
    asperiores quasi fuga, repudiandae obcaecati consequatur quis, facilis
    deserunt soluta tempora maxime? Harum perferendis placeat at cupiditate,
    consequatur culpa molestias cumque. Animi id similique beatae? Voluptatum
    blanditiis, modi doloribus commodi, praesentium velit nulla dignissimos
    distinctio corrupti error ipsam repellat numquam quibusdam magnam delectus
    sint atque dicta.
  </div>
</div>
