<section class="block container block-domain">
  <header class="block__header">
    <h2>Започваме от 9 лв. на месец</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
      mollitia!
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.si $7</li>
    <li>.org $10</li>
    <li>.edu $12</li>
    <li>.bg $11</li>
    <li>Още...</li>
  </ul>
</section>
