<section class="block container">
  <header class="block__header">
    <h2>Хостинг в клауда, за да ти посрасне.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quam.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Много лесно за ползване</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
        nam reprehenderit quisquam. Sint, quia exercitationem nobis
        explicabo dolorem perspiciatis.
      </p>
      <a href="#" class="link-arrow">Научи повече</a>
    </div>
    <div class="feature__img">
      <img src="images/easy.jpg" alt="easy" />
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Много лесно за ползване</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
        nam reprehenderit quisquam. Sint, quia exercitationem nobis
        explicabo dolorem perspiciatis.
      </p>
      <a href="#" class="link-arrow">Научи повече</a>
    </div>
    <div class="feature__img">
      <img src="images/wordpress.jpg" alt="easy" />
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Много лесно за ползване</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab natus
        nam reprehenderit quisquam. Sint, quia exercitationem nobis
        explicabo dolorem perspiciatis.
      </p>
      <a href="#" class="link-arrow">Научи повече</a>
    </div>
    <div class="feature__img">
      <img src="images/fast.jpg" alt="easy" />
    </div>
  </article>
</section>