<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum ipsa
    blanditiis quidem. Adipisci reprehenderit omnis, similique magni nemo ipsa
    corporis <q>HTML is easy to learn.</q> sit magnam accusantium, fugit
    aliquid?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Светослав Любенов</h3>
        <p class="quote__company">
          Управител на <q>АТЕЛ Системи за управление</q> ЕООД
        </p>
      </div>
    </div>
  </footer>
</blockquote>
