body {
  font-size: 18px; /* or any other font size value you want */
}

.tweet{
  border: 3px solid gray;
}
.avatar{
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}

/* p{ */
  /* width: 100px;
  position: relative;
  margin-right: 400px;
} */

.clear{
  clear: both;
}