/* .container{
  display: grid;
  grid-template-rows: repeat(3, 6rem);
  grid-template-columns: repeat(2, 6rem);
  border: 2px solid greenyellow;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 40vh;
} */
body{
  margin: 10;
}

.box{
    padding: 5px;
    background-color: aqua;
}
/* .container{
  display: grid;
  grid-template-rows: repeat(3, 6rem);
  grid-template-columns: 30% 70%;
  border: 2px solid greenyellow;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 40vh;
} */
.container{
  display: grid;
  /* padding: 15px; */
  grid-template: 70px auto 70px / 50% 50%;

  border: 2px solid greenyellow;


  height: 90vh;
  width: 90vw;
  gap: 3px;
}
